asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.3.1
enum34==1.1.6
googleapis-common-protos==1.5.3
grpcio==1.9.1
grpcio-tools==1.9.1
idna==2.7
ipaddress==1.0.22
netifaces==0.10.7
protobuf==3.6.1
pycparser==2.18
pycrypto==2.6.1
pyOpenSSL==18.0.0
pyserial==3.4
six==1.11.0
zeroconf==0.20.0
